*~
\#*\#

*.depend
Makefile.coq
*.vo
*.glob
*.v.d
deps.dot
deps.pdf

*.aux
*.bbl
*.blg
*.log
*.out
timing/
*.cmo
*.cmx
*.cmxs
*.cmi
*.o
*.ml4.d
*.ml.d
*.mli.d

*.html
*.v.tex
*.css
*.pdf
*.toc
*.orig
*.\#*
.dir-locals.el

*.exe
*.hi
*_out.v
WitnessToLtac
PostCoqTex
*.o.tex
ttt.*
RunCoq
YieldParser
YieldParseTree
*.trace.tex
*.coq.txt
*.coq.style.txt